$color-secondary-light: #0c0e25;

.header {
  grid-area: header-main;
  background-color: $color-secondary-light;
  display: flex;
  flex-direction: right;
  padding-right: 7vw;
  justify-content: flex-end;
  align-items: center;

  &__text {
    padding-right: 4rem;
    text-decoration: none;
    font-size: 2.1rem;
    color: #ffffff;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to right, #fd074e, #f67062);
      background-clip: text;
      color: transparent;
    }
    &-red {
      background-image: linear-gradient(to right, #fd074e, #f67062);
      background-clip: text;
      color: transparent;
      &:hover {
        background-image: linear-gradient(to right, #80ff72, #7ee8fa);
        background-clip: text;
        color: transparent;
      }
    }
    &-signin {
      padding-left: 6rem;
    }
  }

  &__signout {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover &--logo {
      fill: #fd074e;
    }

    &--logo {
      margin-top: 0.2rem;
      cursor: pointer;
      transition: all 0.5s;
      margin-left: -2.4rem;
      fill: #ffffff;
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
